<ng-advanced-dropdown
  [list]="list"
  label="name"
  (select)="onSelect($event)"
  (newItem)="onItemCreate($event)"
></ng-advanced-dropdown>
<ng-advanced-dropdown [list]="list" label="name" (select)="onSelect($event)" (newItem)="onItemCreate($event)"></ng-advanced-dropdown>
<ng-advanced-dropdown [list]="list" label="name" (select)="onSelect($event)" (newItem)="onItemCreate($event)"></ng-advanced-dropdown>


<ng2-completer
  [(ngModel)]="text"
  [datasource]="dataService"
  [minSearchLength]="0"
  autoMatch="true"
  openOnFocus="true"
  textNoResults=""
></ng2-completer>